/* Custom Style */

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px; /*上右下左*/
    border-bottom: 1px ridge;
    min-height: 400px; /*for the content*/
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

/*在boostrap原有基础上 增加属性*/
.jumbotron{

    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{ 
    
    /** 标签， 给body of the page 50px: 这样 top 50px of page body 不会 hidden 在 navigation bar 下面**/
    padding: 50px 0px 0px 0px;
    z-index: 0;

}

.navbar-dark {
    /** 改下 颜色**/
    background-color: #512DA8;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8 ;
}

.carousel-item {
    height: 300px;
}

/* @top left edge , match carousel-item height*/
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

/** Reposition the carousel resume/play buttons  */
#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}